<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="listeners.TestListener" />
    </listeners>
    <test verbose="2" preserve-order="true"
          name="Regression Test">
        <classes>
            <class name="testcases.TC01_RegisterTest" />
            <class name="testcases.TC02_LoginTest" />
            <class name="testcases.TC03_LogoutTest" />
            <class name="testcases.TC04_BookTicketTest" />
            <class name="testcases.TC05_CheckTicketTest" />
            <class name="testcases.TC06_PartnerPageTest" />
        </classes>
    </test>
</suite>